{% load cms_tags static %}

<div>
    <form name="_xclick" action="https://www.paypal.com/cgi-bin/websrc" method="post" target="_blank">
        <div class="row mb-3">
            <label for="donateProgramSelect" class="col-sm-2 col-form-label">Program:</label>
            <div class="col-sm-10">
                <select id="donateProgramSelect" class="form-select" name="item_name">
                    {% if not instance or not instance.default_program %}
                    <option hidden disabled selected value></option>
                    {% endif %}
                    {% for value, name in donation_programs %}
                        <option id="" value="{{ value }}" {% if value == instance.default_program %}selected{% endif %}>{{ name|safe }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>

        <div class="input-group mb-3">
            <span class="input-group-text">$</span>
            <input type="text" name="amount" class="form-control"
                   aria-label="Amount (to the nearest dollar)">
            <span class="input-group-text">.00</span>
        </div>
        <div class="row mb-3">
            <label for="exampleFormControlInput1" class="col-sm-2 col-form-label">Note:</label>
            <div class="col-sm-10">
                <input type="text" name="custom" class="form-control"
                       aria-label="Note">
            </div>
        </div>


        <button class="btn btn-primary" type="submit">Donate Online</button>
        <button class="btn btn-outline-primary" type="submit"
                formaction="{% page_url "invoice" %}"
                formmethod="get"
                >Donate Via Check</button>

        <input type="hidden" name="cmd" value="_donations">
        <input type="hidden" name="currency_code" value="USD">
        <input type="hidden" name="business" id="donateBusiness" value="contact@ilftc.org">
        <input type="hidden" name="uploaded" value="true">
        <input type="hidden" name="image_url" value="{% static "horizontal-4c.svg" %}">
    </form>
</div>