{% load cms_tags sekizai_tags static %}
{% include "generated/asset-tags.html" %}
<!doctype html>
<html lang="en">
<head>
    <title>{% page_attribute "page_title" %}</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% render_block "css" %}
    <link rel="stylesheet" href="{% static "css/print.css" %}">

    <style>@page { size: letter }</style>
</head>
<body>
<div class="d-print-none">
{% cms_toolbar %}
</div>
<div class="sheet padding-20mm">
    {% placeholder "invoice" %}
</div>
{% render_block "js" %}
{% if not request.user.is_authenticated %}
<script type="text/javascript">
    window.onload = function() { window.print(); }
</script>
{% endif %}
</body>