{% load cache static cms_tags sekizai_tags menu_tags %}
{% include "generated/asset-tags.html" %}
<!doctype html>
<html lang="en">
<head>
    <title>{% page_attribute "page_title" %}</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% render_block "css" %}
</head>
<body>
{% cms_toolbar %}
<nav class="nav navbar-expand-sm navbar-dark bg-dark d-none d-sm-block d-md-block d-lg-block lh-sm">
    <div class="container">
        <div class="d-flex flex-wrap justify-content-center justify-content-lg-start">
            <div class="navbar-text text-break"
                 style="max-height: 20px; margin-right: auto;">{% static_placeholder "announcement" %}</div>
            <ul class="ms-auto navbar-nav">
                <li class="nav-item">
                    <a class="nav-link px-2" href="{% page_url "donate" %}">Donate</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<nav class="program-navigation d-none d-sm-block d-md-block d-lg-block " id="main-program-navigation">
    <div class="container">
        {% spaceless %}
            {% for program_name, details in programs.items %}
                {% page_url details.url as program_url %}
                <a href="{{ program_url }}" class="program-nav-box {{ program_name }}-brand"
                   id="{{ program_name }}-logo" {% if details.external %}target="_blank"{% endif %}>
                    <img class="{{ details.extra_img_classes }}" src="{% static details.desktop_img %}"
                         alt="{{ details.full_name }}">
                </a>
            {% endfor %}
        {% endspaceless %}
    </div>
</nav>
{% cache 3600 header request.path %}
{% for program_name, details in programs.items %}
    <nav class="navbar navbar-expand-sm sub-program-nav {{ program_name }}-brand {% if details.current %}current-program{% endif %}"
         id="{{ program_name }}-menu">
        <div class="container">
            <ul class="navbar-nav mr-auto">
                {% show_menu_below_id details.url 0 100 100 100 "menus/navbar.html" %}
            </ul>
        </div>
    </nav>
{% endfor %}

<nav class="navbar navbar-dark bg-dark d-block d-sm-none sticky-top" aria-label="Main mobile navigation">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% page_url "home" %}">
            <img src="{% static "horizontal-4c-reverse.svg" %}" alt="FIRST Illinois Robotics" height="36">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
                aria-controls="offcanvasNavbar">
            <span class="brand-opener"></span>
        </button>

        <div class="offcanvas offcanvas-end bg-dark text-light" tabindex="-1" id="offcanvasNavbar"
             aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-body p-0" id="offcanvas-parent">
                <div class="ms-auto nav nav-pills nav-fill flex-row-reverse align-items-center">
                    <div class="d-flex align-items-center ps-1 pe-2">
                        <a type="button" data-bs-dismiss="offcanvas" aria-label="Close"><i
                                class="fas fa-times fa-lg m-3"></i></a>
                    </div>
                    <ul class="nav nav-pills nav-fill flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-secondary" href="{% page_url "donate" %}">Donate</a>
                        </li>
                    </ul>
                </div>
                {% for program_name, details in programs.items %}
                    <div class="navbar-nav  {{ program_name }}-brand text-dark">
                        <a class="overflow-program-header" {% if details.external %}href="{% page_url details.url %}"
                           target="_blank"{% else %}data-bs-toggle="collapse"
                           href="#{{ program_name }}-mobile"{% endif %}>
                            <img class="{{ details.extra_img_classes }}"
                                 src="{% static details.mobile_img %}"
                                 alt="{{ details.full_name }}"
                                 id="{{ program_name }}-mobile-img">
                            {% if not details.external %}
                                <i class="fas fa-chevron-down mobile-accordion-control {{ program_name }}-mobile-indicator {% if details.current %}rotated{% endif %}"></i>{% endif %}
                        </a>
                        <div class="collapse overflow-program-header-target {% if details.current %}show{% endif %}"
                             id="{{ program_name }}-mobile" data-bs-parent="#offcanvas-parent">
                            <div class="list-group list-group-flush">
                                <a class="list-group-item list-group-item-action"
                                   href="{% page_url details.url %}">{{ details.full_name }}</a>
                                {% show_menu_below_id details.url 0 100 100 100 "menus/navbar_offcanvas.html" %}
                            </div>
                        </div>

                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</nav>
{% endcache %}

{% block content %} {% endblock %}

<div class="container">
    <footer class="py-5">

        <div class="row justify-content-between py-4 my-4 border-top">
            <div class="col-md-3">
                <h5>Contact Us</h5>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a href="mailto:contact@firstillinoisrobotics.org"
                                                 class="nav-link p-0 text-muted"><i class="far fa-envelope"></i> <i>FIRST</i>
                        Illinois Robotics</a></li>
                    <li class="nav-item mb-2"><a href="mailto:frc-contact@firstillinoisrobotics.org"
                                                 class="nav-link p-0 text-muted"><i class="far fa-envelope"></i> <i>FIRST</i>
                        Robotics Competition</a></li>
                    <li class="nav-item mb-2"><a href="mailto:ftc-contact@firstillinoisrobotics.org"
                                                 class="nav-link p-0 text-muted"><i class="far fa-envelope"></i> <i>FIRST</i>
                        Tech Challenge</a></li>
                    <li class="nav-item mb-2"><a href="mailto:fll-challenge@firstillinoisrobotics.org"
                                                 class="nav-link p-0 text-muted"><i class="far fa-envelope"></i> <i>FIRST</i>
                        LEGO League Challenge</a></li>
                    <li class="nav-item mb-2"><a href="mailto:fll-explore@firstillinoisrobotics.org"
                                                 class="nav-link p-0 text-muted"><i class="far fa-envelope"></i> <i>FIRST</i>
                        LEGO League Explore</a></li>
                </ul>
            </div>

            <div class="col-md-3">
                <h5><i>FIRST</i> Illinois Robotics Programs</h5>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a href="{% page_url "home" %}"
                                                 class="nav-link p-0 text-muted"><i>FIRST</i> Illinois Robotics</a></li>
                    <li class="nav-item mb-2"><a href="{% page_url "frc" %}"
                                                 class="nav-link p-0 text-muted"><i>FIRST</i> Robotics Competition</a>
                    </li>
                    <li class="nav-item mb-2"><a href="{% page_url "ftc" %}"
                                                 class="nav-link p-0 text-muted"><i>FIRST</i> Tech Challenge</a></li>
                    <li class="nav-item mb-2"><a href="{% page_url "fll-challenge" %}"
                                                 class="nav-link p-0 text-muted"><i>FIRST</i> LEGO League Challenge</a>
                    </li>
                    <li class="nav-item mb-2"><a href="{% page_url "fll-explore" %}" class="nav-link p-0 text-muted"><i>FIRST</i>
                        LEGO League Explore</a></li>
                </ul>
            </div>

            <div class="col-md-4 offset-md-1">
                <h5 class="mb-3">Donate to <i>FIRST</i> Illinois Robotics</h5>
                {% include "donations/donation.html" %}
            </div>
        </div>
        <a class="text-muted d-inline-flex align-items-center text-decoration-none" href="https://www.firstinspires.org/">
            <img alt="FIRST Logo" style="height:1.5em; margin-right: 0.5rem;" src="{% static "FIRST_Horz_RGB.png" %}"/> Program Delivery Partner
        </a>

        <div class="d-flex justify-content-between py-4 my-4 border-top row">
            <p class="text-muted col-12 col-md-6">&copy; {% now 'Y' %} FIRST Illinois Robotics. All rights reserved. (EIN:
                #20-0707641) </p>
            <ul class="list-unstyled d-flex flex-row-reverse fa-2x col-12 col-md-6">
                <li class="ms-3"><a class="link-dark" href="https://www.facebook.com/illinoisfirst"><i
                        class="fab fa-facebook-square"></i></a></li>
                <li class="ms-3"><a class="link-dark" href="https://www.twitter.com/illinoisfirst"><i
                        class="fab fa-twitter"></i></a></li>
                <li class="ms-3"><a class="link-dark" href="https://www.flickr.com/photos/IllinoisFIRST"><i
                        class="fab fa-flickr"></i></a></li>
                <li class="ms-3"><a class="link-dark" href="https://www.instagram.com/illinoisfirst/"><i
                        class="fab fa-instagram"></i></a></li>
                <li class="ms-3"><a class="link-dark" href="https://gallery.firstillinoisrobotics.org/"><i
                        class="fas fa-camera-retro"></i></a></li>
            </ul>
        </div>
    </footer>
</div>
{% render_block "js" %}
</body>
</html>
