@use "sass:math";
@use "~bootstrap/scss/mixins";
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/mixins";

@import "colors";

$program-main-brand-width: 25%;
$programs: 5; // NOT including main brand (used for splitting up programs evenly width wise)

$program-colors: (
  "frc": $frc-blue,
  "ftc": $ftc-orange,
  "fllc": $fll-red,
  "flle": $fll-green,
  "flld": $fll-purple,
  "home": $fir-grey,
);

// mobile overflow
.brand-opener {
  background-image: svg("./fir_mobile_open.svg");
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

.offcanvas-body {
  @each $name, $value in $program-colors {
    .#{$name}-brand {
      background-color: $value;
    }
  }
  .overflow-program-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    text-decoration: none;

    img {
      width: auto;
      max-width: 100%;
      min-width: 0;
      height: 45px;
      display: block;
      margin: 1em auto 1em 1em;
      flex-shrink: 1;
    }

    .fll-logo {
      max-height: 70px;
      height: unset;
      margin: 0.25em auto 0.25em 0.25em;
    }

    .mobile-accordion-control {
      color: black;
      margin: 1em;
      flex-shrink: 0;
      transform: rotate(0deg);
      transition: transform 0.25s ease-in-out;

      &.rotated {
        transform: rotate(180deg);
      }
    }

    ul {
      color: black;
    }
  }
  .link-dropdown-accordion {
    margin: .5em;
  }
}


// desktop nav

.program-navigation {
  background-color: $first-grey;

  .container {
    white-space: normal;
    display: grid;
    grid-template-columns: 1.5fr repeat($programs, 1fr);
    grid-auto-rows: 1fr;
    gap: 0;

    .program-nav-box {
      display: flex;
      align-items: center;
      justify-content: center;
      min-height: 60px;

      // colors
      @each $name, $value in $program-colors {
        &.#{$name}-brand {
          background-color: $value;
        }
      }

      //interior images (three different cases)

      .fll-logo {
        width: auto;
        margin: -10px;
        max-height: 100%; // this is all good since the FLL logos include the spacing required anyway
        max-width: 90%;
        transition: max-height 0.25s;
        transition-timing-function: ease-in-out;
      }
      &:hover .fll-logo{
        max-height: 115%;
      }

      .non-fll-logo {
        width: auto;
        max-height: 50%; // height of both FTC and FRC kept similar instead of width
        // FRC is slightly wider than FTC, this keeps them at the same scale
        max-width: 100%;

        transition: max-width 0.25s, max-height 0.25s;
        transition-timing-function: ease-in-out;
      }
      &:hover .non-fll-logo{
        max-height: 60%;
      }

      .brand-logo {
        width: 82.5%;
        height: auto;
        padding-bottom: 5px; // Propping up since the FIRST should be centered with the other logos, not the whole logo
        // maybe change this to an em value?
        transition: width 0.25s;
      }
      &:hover .brand-logo {
        width: 90%;
      }
    }
  }
}

.sub-program-nav {
  display: none; // all sub program nav hidden by default
  padding: 0;

  @include media-breakpoint-up(sm) {
    // want to hide all of the nav on small devices (show our responsive menu instead)

    &.current-program {
      display: block; // server default selecting program
      // this ensures the django template will show valid CSS even before JS loads
      // this class is set inside navbar_wrap.html
    }
  }
  @each $name, $value in $program-colors {
    &.#{$name}-brand {
      background-color: $value;

      .nav-link {
        color: color-contrast($value);
        padding-top: 1rem;
        padding-bottom: 1rem;
      }

      .nav-link:hover {
        background-color: tint-color($value, 10%);
      }
      .nav-item.active>.nav-link {
        background-color: tint-color($value, 20%);
      }
    }
  }

}


