SECRET_KEY={{ lookup('azure.azcollection.azure_keyvault_secret', 'secret-key', vault_url=vault_url) }}
DATABASE_URL=mysql://django_{{ branch }}_user:{{ lookup('azure.azcollection.azure_keyvault_secret', 'db-pass', vault_url=vault_url) }}@{{db_host}}/django_{{ branch }}
SENTRY_DSN={{ sentry_dsn }}
SENTRY_ENV={{ branch }}
GMAPS_API={{ gmaps_api }}
AZURE_STORAGE_ACCOUNT_NAME={{ lookup('azure.azcollection.azure_keyvault_secret', 'storage-name', vault_url=vault_url) }}
AZURE_STORAGE_ACCOUNT_KEY={{ lookup('azure.azcollection.azure_keyvault_secret', 'storage-key', vault_url=vault_url) }}
AZURE_STORAGE_CUSTOM_DOMAIN={{ branch }}media.firstillinoisrobotics.org