[Unit]
Description=Django app for FIRST Illinois
After=syslog.target network.target

[Service]
Type=notify
WorkingDirectory={{ home }}
ExecStart=poetry run gunicorn firweb.wsgi -b unix:/tmp/gunicorn.sock -w 5
ExecReload=/bin/kill -s HUP $MAINPID
Restart=always
Environment=FIRWEB_PROD=true
KillMode=mixed
TimeoutStopSec=5

[Install]
WantedBy=multi-user.target