{% extends 'base.html' %}

{% block title %}Team List{% endblock title %}

{% block content %}

    <script>
        // TODO: Update this with something more modern, this is stolen from the old site
        // Add / Update a key-value pair in the URL query parameters
        function updateUrlParameter(uri, key, value) {
            // remove the hash part before operating on the uri
            var i = uri.indexOf('#');
            var hash = i === -1 ? '' : uri.substr(i);
            uri = i === -1 ? uri : uri.substr(0, i);

            var re = new RegExp("([?&])" + key + "=.*?(&|$)", "i");
            var separator = uri.indexOf('?') !== -1 ? "&" : "?";
            if (uri.match(re)) {
                uri = uri.replace(re, '$1' + key + "=" + value + '$2');
            } else {
                uri = uri + separator + key + "=" + value;
            }
            return uri + hash;  // finally append the hash as well
        }
    </script>

    <div class="container">
        <h2>Illinois {{ current_season.competition }} Teams</h2>
        <h4 class="text-secondary">{{ teams | length }} Teams</h4>
        <select class="form-select" aria-label="Select season to list teams from"
                onchange="document.location = updateUrlParameter(window.location.href, 'season',
                document.getElementById('team-season-selector').value);"
                id="team-season-selector">
            {% for season in all_seasons %}
                <option value="{{ season.year }}" {% if season == current_season %}selected{% endif %}>{{ season.name }}
                    ({{ season.year }})
                </option>
            {% endfor %}
        </select>
        <h5 class="text-secondary">This list of teams is pulled from firstinspires.org  In some cases, the teams listed here may not be fully registered to play in Illinois.</h5>

        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">Number</th>
                    <th scope="col">Name</th>
                    <th scope="col">Affiliation</th>
                    <th scope="col">Location</th>
                    <th scope="col">Links</th>
                </tr>
                </thead>
                {% for team in teams %}
                    <tr>
                        <th scope="row" {% if team.team.team_num > 99999 %}data-bs-toggle="tooltip"
                            data-bs-title="Temporary team number assigned before registration" {% endif %}>
                            {{ team.team.team_num }}{% if team.team.team_num > 99999 %}*{% endif %}</th>
                        <td>{{ team.nickname }}</td>
                        <td>{{ team.fullname }}</td>
                        <td>{{ team.city }}</td>
                        <td>
                            <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                            {% if team.website %}<a class="btn btn-primary" href="{{ team.website }}" target="_blank">Website</a>{% endif %}
                            {% if current_season.competition == "FTC" %}<a class="btn btn-ftc" href="https://ftc-events.firstinspires.org/{{ current_season.year }}/team/{{ team.team.team_num }}" target="_blank">FTC-Events</a>{% endif %}
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>

{% endblock content %}
